<input type="hidden" data-trigger-api-on=appear data-trigger-api-type={{ element['#trigger_type'] }} data-trigger-api-data={{ element['#trigger_data'] }}>
{# data-trigger-api-on="click" data-trigger-api-type="gtm" data-trigger-api-data="{\"test\":\"ok\"}" #}
